<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isdp.guess_a_song">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".StartScreen"
            android:label="@string/title_activity_database_test"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.roomcreation._1HostGame" />
        <activity android:name=".ui.roomcreation._2SelectSongs" />
        <activity android:name=".ui.JoinGame" />
        <activity android:name=".ui.playing.SingleplayerGame" />
        <activity android:name=".ui.roomcreation._3EditQuestion" />
        <activity android:name=".ui.roomcreation._4GameRoom" />
        <activity android:name=".ui.playing.HostPlayScreen" />
        <activity android:name=".ui.MusicLibrary" />
        <activity android:name=".ui.playing.PlayerInGame" />
        <activity android:name=".ui.experimental.GameCreationTab" />
        <activity
            android:name=".ui.EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="isdp.guess_a_song.StartScreen" />
        </activity>
        <activity
            android:name=".ui.GameOver"
            android:label="@string/title_activity_game_over"></activity>
    </application>

</manifest>